<div *ngIf="!loggedIn">
  <h3>Login</h3>
  <div class="form-wrapper">
    <mat-form-field class="example-form-field">
      <mat-label>Username</mat-label>
      <input matInput type="text" placeholder="username" [(ngModel)]="username">
    </mat-form-field>
    <mat-form-field class="example-form-field">
      <mat-label>Password</mat-label>
      <input matInput type="text" placeholder="password" type="password" [(ngModel)]="password">
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="login()">login</button>
  </div>
  <p style="color:red; padding-top:1rem;">{{loginErr}}</p>
</div>


<div *ngIf="loggedIn">
  <div class="user-info-wrapper">
    <p> logged in as {{username}}</p>
    <button mat-raised-button color="primary" *ngIf="loggedIn" (click)="logout()">logout</button>
  </div>
  <app-list-users></app-list-users>  
</div>