<div class="user-wrapper">
    <p>{{user.Username}}</p>
    <button mat-raised-button color="primary" (click)="resetHandler()">Manage User</button>
</div>
<div [ngClass]="{'hide': !reset}">
    <mat-form-field class="example-form-field">
        <mat-label>New Password</mat-label>
        <input matInput type="text" placeholder="new password" [(ngModel)]="newPassword">
      </mat-form-field>
    <button
      mat-raised-button
      color="primary"
      (click)="submitResetHandler(user)"
      [disabled]="!newPassword"
    >
      confirm
    </button>
    <button 
      mat-raised-button 
      color="warning" 
      (click)="resetHandler()"
    >
      cancel
    </button>
    <p [ngStyle]="{'color': passwordError=='success' ? 'green' : 'red'}"> {{passwordError}}</p>
    <div>
      <button *ngIf="!userIsAdmin" 
        mat-raised-button 
        color="success" 
        (click)="userStatusHandler(user, 'promote')"
      >
        promote user to admin
      </button>
      <button *ngIf="userIsAdmin" 
        mat-raised-button 
        color="success" 
        (click)="userStatusHandler(user, 'revoke')"
      >
        Revoke Admin
      </button>
    </div>
</div>