main {
    margin-top:20px;
    padding: 1rem;
    width: 90%;
}

.content-wrapper {
    max-width: 600px;
    margin: 0 auto;
}

mat-toolbar{
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
}