
<mat-toolbar>
  <span [routerLink]="['']">Cognito Admin</span>
  <span class="example-spacer"></span>
  <a mat-button [routerLink]="['register']">Register</a>
</mat-toolbar>
<main>
  <div class="content-wrapper">
    <router-outlet></router-outlet>
  </div>
</main>
