<div>
  <h3>Cognito User Pool</h3>
  <ul class="user-list" *ngIf="userList">
    <li *ngFor="let user of userList">
      <app-user [user]="user"></app-user>
    </li>
  </ul>
</div>
<div *ngIf="!isAdmin">
  You are not an admin user
</div>
