<p>register new user</p>
<div class="form-wrapper">
    <mat-form-field class="example-form-field">
      <mat-label>Username</mat-label>
      <input matInput type="text" [(ngModel)]="username" placeholder="new username">
    </mat-form-field>
    <mat-form-field class="example-form-field">
      <mat-label>Password</mat-label>
      <input matInput type="password" [(ngModel)]="password" placeholder="new password">
    </mat-form-field>
    <mat-form-field class="example-form-field">
      <mat-label>email address for verification code</mat-label>
      <input matInput type="text" [(ngModel)]="email" placeholder="email address for verification code">
    </mat-form-field>
  <p> {{ createErr }}</p>
  <button mat-raised-button color="primary" (click)="submitDetails()">submit</button>
  <button mat-raised-button (click)="forceVerify()">I already have a verification code</button>
</div>
<div class="form-wrapper" *ngIf="detailsSubmit">
    <p style="margin-top: '1rem'">{{verificationMessage}}</p>
    <mat-form-field class="example-form-field">
        <mat-label>Verification Code</mat-label>
        <input matInput type="text" [(ngModel)]="verificationCode" placeholder="verification code">
      </mat-form-field>
      <p>{{verifyErr}}</p>
    <button mat-raised-button color="primary" (click)="verify()">Verify</button>
</div>

<p *ngIf="successMessage">{{successMessage}}</p>